<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
	<div th:fragment="contacto">
		<section class="section section-lg section-hero section-shaped"
			id="contacto">
			<div
				class="container shape-container d-flex align-items-center py-lg">
				<div class="col px-0">
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="form-area">
								<form role="form">
									<br style="clear: both">
									<h5 class="display-5 text-primary"
										th:text="#{contacto.contactanos}"></h5>
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Name" required>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="email"
											name="email" placeholder="Email" required>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="mobile"
											name="mobile" placeholder="Mobile Number" required>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="subject"
											name="subject" placeholder="Subject" required>
									</div>
									<div class="form-group">
										<textarea class="form-control" id="message"
											placeholder="Message" maxlength="140" rows="7"></textarea>

									</div>

									<button type="button" id="submit" name="submit"
										class="btn btn-primary pull-right "
										th:text="#{contacto.enviar}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
