<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
	<div th:fragment="paginacion">
		<div class="row justify-content-md-center">

			<div class="form-group pagination-centered">
				<ul class="pagination">
					<li hidden=true th:text="${pagina}">
					<li hidden=true th:text="${paginas}">
					<li class="previous" th:if="${pagina > 1}" >
						<a th:href="@{${REFERENCIA_PAGINADO}(pagina=${pagina-1})}">
							<button type="button" th:classappend="${pagina == 1}? disabled"
								class="btn btn-primary btn-round btn-sm btn-icon"
								data-toggle="tooltip" th:title="#{paginacion.anterior}">
								<i class="now-ui-icons arrows-1_minimal-left"></i>
							</button>
						</a>
					</li>
					<li class="previous" th:if="${pagina <= 1}">
							<button type="button"
								class="btn btn-primary btn-round btn-sm btn-icon disabled"
								data-toggle="tooltip" th:title="#{paginacion.anterior}">
								<i class="now-ui-icons arrows-1_minimal-left"></i>
							</button>

					</li>
					<li class="next" th:if="${pagina >= paginas}">
							<button	type="button" class="btn btn-primary btn-round btn-sm btn-icon disabled"
								data-toggle="tooltip" th:title="#{paginacion.siguiente}">
								<i class="now-ui-icons arrows-1_minimal-right"></i>
							</button>
					</li>
					<li class="next" th:if="${pagina < paginas}">
						<a th:href="@{${REFERENCIA_PAGINADO}(pagina=${pagina+1})}">
							<button	type="button"  th:classappend="${pagina == paginas}? disabled"
								class="btn btn-primary btn-round btn-sm btn-icon"
								data-toggle="tooltip" th:title="#{paginacion.siguiente}">
								<i class="now-ui-icons arrows-1_minimal-right"></i>
							</button></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

