<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
	<th:block th:fragment="side-bar">

		<div class="sidebar" data-color="orange">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
			<div class="logo">
				<a href="#" class="simple-text logo-mini"
					th:text="#{side-bar.titulo}"> </a> <a href="#"
					class="simple-text logo-normal" th:text="#{side-bar.titulo1}"></a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="active"><a th:href="@{'/home/'}">
						<i class="now-ui-icons shopping_shop"></i> 
						<label th:text="#{side-bar.home}"></label></a>
					</li>
					<li><a th:href="@{'/home/'}"> 
						<i class="now-ui-icons ui-2_favourite-28"></i>
						<label th:text="#{side-bar.mascotas}"></label></a>
					</li>
					<li><a th:href="@{'/usuarios/'}">
						<i class="now-ui-icons users_single-02"></i>
						<label th:text="#{side-bar.usuarios}"></label></a>
					</li>
					<li><a th:href="@{'/home/'}">
						<i class="now-ui-icons files_box"></i>
						<label th:text="#{side-bar.fichas}"></label></a>
					</li>	
				</ul>
			</div>
		</div>
	</th:block>
</body>
</html>