<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{login.titulo}"></title>
</head>

<body class="">
	<div layout:fragment="page_content" th:remove="tag">

		<div class="row justify-content-md-center">
			<div class="col-md-6 ">
				<div class="card">
					<div class="card-header">
						<div class="text-center text-muted">
							<small th:text="#{login.titulo1}"></small>
						</div>
					</div>
					<div class="row justify-content-md-center">

						<div class="col-md-10 ">
							<form role="form">
								<div class="form-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i
											class="ni ni-email-83"></i></span>
									</div>
									<input class="form-control" placeholder="Email" type="email">
								</div>
								<div class="form-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i
											class="ni ni-lock-circle-open"></i></span>
									</div>
									<input class="form-control" placeholder="Password"
										type="password">
								</div>
								<input class="checkbox" id="customCheckLogin" type="checkbox">
								<label class="label" for=" customCheckLogin"> <span
									th:text="#{login.recordarme}"></span>
								</label>
								<div class="text-center">
									<button type="button" class="btn btn-primary my-4"
										th:text="#{login.iniciar}"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>