<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/ico" href="../assets/img/favicon.ico">
<title>PECOS</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	rel="stylesheet">

<!-- CSS Files -->
<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="../assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />

</head>

<body class="">
	<div th:insert="~{side-bar :: side-bar}"></div>
	<div class="main-panel">

		<div th:insert="~{nav-bar :: nav-bar}"></div>
		<div th:insert="~{header :: header}"></div>

		<div class="content">
			<div class="row justify-content-md-center">
				<div class="col-md-4 ">
					<div class="card">
						<div class="card-header">
							<div class="text-center text-muted mb-4">
								<small th:text="#{login.titulo1}"></small>
							</div>
							<form role="form">
								<div class="form-group mb-3">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="ni ni-email-83"></i></span>
										</div>
										<input class="form-control" placeholder="Email" type="email">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="ni ni-lock-circle-open"></i></span>
										</div>
										<input class="form-control" placeholder="Password"
											type="password">
									</div>
								</div>
								<div
									class="custom-control custom-control-alternative custom-checkbox">
									<input class="custom-control-input" id=" customCheckLogin"
										type="checkbox"> <label class="custom-control-label"
										for=" customCheckLogin"> <span
										th:text="#{login.recordarme}"></span>
									</label>
								</div>
								<div class="text-center">
									<button type="button" class="btn btn-primary my-4"
										th:text="#{login.iniciar}"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="~{footer :: footer}"></div>
	</div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>


</html>